<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Producto</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">

    <h1>Agregar Producto</h1>

    <form method="POST">

        <input type="text" name="nombre" class="form-control mb-3" placeholder="Nombre">

        <input type="number" step="0.01" name="precio" class="form-control mb-3" placeholder="Precio">

        <input type="number" name="stock" class="form-control mb-3" placeholder="Stock">

        <button class="btn btn-primary">
            Guardar
        </button>

    </form>

</div>

</body>
</html> 