<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Papelería ML</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">

    <h1 class="mb-4">Sistema de Papelería con IA</h1>

    <table class="table table-bordered table-striped">

        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
        </thead>

        <tbody>

            {% for producto in productos %}
            <tr>
                <td>{{ producto[0] }}</td>
                <td>{{ producto[1] }}</td>
                <td>S/. {{ producto[3] }}</td>
                <td>{{ producto[4] }}</td>
            </tr>
            {% endfor %}

        </tbody>

    </table>

</div>

</body>
</html>