<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Movimientos de Inventario</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">

    <h2>Movimientos de Inventario</h2>

    <div class="mb-3">
        <a href="/" class="btn btn-secondary">
            Volver
        </a>
    </div>

    <table class="table table-bordered table-striped">

        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Tipo</th>
                <th>Cantidad</th>
                <th>Fecha</th>
            </tr>
        </thead>

        <tbody>

            {% for movimiento in movimientos %}

            <tr>
                <td>{{ movimiento[0] }}</td>
                <td>{{ movimiento[1] }}</td>
                <td>{{ movimiento[2] }}</td>
                <td>{{ movimiento[3] }}</td>
                <td>{{ movimiento[4] }}</td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

</body>
</html> 